@use '../../../../assets/scss/abstracts/variables' as var;
@use '../../../../assets/scss/abstracts/functions' as func;

.subtitle {
	margin-bottom: func.em(6, 24);
	font-size: func.em(24, var.$font-size-primary);
	font-weight: var.$font-weight-200;
	color: var.$color-dark-blue;
	line-height: 1;
}

.title {
	margin-bottom: func.em(16, 24);
}

@media (min-width: 57.5em) {
	.title,
	.subtitle {
		font-size: func.em(36, var.$font-size-primary);
	}

	.subtitle {
		margin-bottom: func.em(10, 36);
	}
}
