@use '../../../assets/scss/abstracts/variables' as var;
@use '../../../assets/scss/abstracts/functions' as func;
@use '../../../assets/scss/abstracts/mixins' as mix;

:host {
	@include mix.flexbox;
	@include mix.align-items(center);
	@include mix.flex-direction(column);
	gap: func.em(76, var.$font-size-primary);
	width: 100%;
	max-width: func.em(420, var.$font-size-primary);
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
}

.head {
	@include mix.flexbox;
	@include mix.flex-direction(column);
	padding-top: func.em(40, var.$font-size-primary);
	text-align: center;
}

@media (min-width: 48em) {
	:host {
		gap: func.em(60, var.$font-size-primary);
		max-width: func.em(1110, var.$font-size-primary);
	}

	.head {
		max-width: func.em(540, var.$font-size-primary);
	}
}
